pyrogram==2.0.106
TgCrypto==1.2.5
Flask==3.0.3
quart==0.19.4
hypercorn==0.16.0
aiohttp==3.10.5
motor==3.3.2
pymongo==4.6.1
uvicorn
dnspython==2.4.2
cachetools==5.3.2
brotli==1.1.0
redis==5.0.1
hiredis==2.3.2
qrcode[pil]==7.4.2
Pillow==10.4.0
pydantic==2.5.0
pydantic-settings==2.1.0
httpx==0.25.2
black==23.11.0
flake8==6.1.0
uvloop==0.19.0
python-dateutil==2.8.2
pytz==2023.3
supabase
